{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Recipe App{% endblock %}</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>

<body class="relative min-h-screen bg-white">
    <!-- Navigation -->
    <nav
        class="fixed top-0 right-0 left-0 z-50 {% if request.resolver_match.url_name == 'home' %}bg-alternate_a-800/70 backdrop-blur-sm{% else %}bg-alternate_a-100{% endif %}">
        <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
            <div class="flex justify-between h-16">
                <div class="flex items-center">
                    <a href="{% url 'recipes:home' %}" class="text-xl font-semibold text-accent-600">Recipe App</a>
                </div>
                <div class="flex items-center space-x-4">
                    {% block navigation %}
                    <a href="{% url 'recipes:home' %}"
                        class="px-3 py-1 text-sm font-medium border-b transition-all duration-300 border-accent-300 {% if request.resolver_match.url_name == 'home' %}text-accent-300{% else %}text-accent-600{% endif %} hover:text-white hover:bg-accent-400 hover:border-accent-400 hover:rounded-md">Home</a>
                    <a href="{% url 'recipes:recipe-list' %}"
                        class="px-3 py-1 text-sm font-medium border-b transition-all duration-300 border-accent-300 {% if request.resolver_match.url_name == 'home' %}text-accent-300{% else %}text-accent-600{% endif %} hover:text-white hover:bg-accent-400 hover:border-accent-400 hover:rounded-md">Recipes</a>
                    {% endblock %}
                </div>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <main class="relative z-10">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer
        class="{% if request.resolver_match.url_name == 'home' %}fixed right-0 z-50 bottom-0 left-0 bg-alternate_a-800/70 backdrop-blur-sm text-accent-300{% else %}bg-alternate_a-100 border-t border-gray-200 text-accent-800{% endif %}">
        <div class="px-4 py-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
            <div class="text-sm text-center">
                {% block footer %}
                <p>&copy; 2025 Recipe App</p>
                {% endblock %}
            </div>
        </div>
    </footer>


</body>

</html>