{% extends 'base.html' %}

{% block title %}Home - Nomalyze{% endblock %}

{% block content %}
<!-- Hero Section -->
<div class="flex overflow-hidden fixed inset-0 justify-center items-center">
    <!-- Background Image -->
    <div class="absolute inset-0 z-0">
        <img src="{{ MEDIA_URL }}recipes/jez-timms-BHD2OxkYGSk-unsplash.jpg" alt="Delicious food"
            class="object-cover w-full h-full">
        <div class="absolute inset-0 bg-black bg-opacity-40"></div>
    </div>

    <!-- Hero Content -->
    <div class="relative z-10 px-4 mx-auto max-w-4xl text-center text-white">
        <h1 class="mb-6 font-serif text-3xl font-bold md:text-6xl lg:text-5xl">
            {% if user.is_authenticated %}
            Welcome back to Nomalyze, {{ user.username }}!
            {% else %}
            Welcome to Nomalyze
            {% endif %}
        </h1>
        <p class="mb-8 text-xl opacity-90 md:text-2xl">
            Discover, create, and share your favorite recipes
        </p>
        <!-- <a href="{% url 'recipes:recipe-list' %}"
            class="inline-block px-8 py-4 text-lg font-bold text-white rounded-lg shadow-lg transition-all duration-300 bg-accent-400 hover:scale-105 hover:bg-accent-600">
            Explore Recipes
        </a> -->
        {% if user.is_authenticated %}
        <div class="flex flex-col gap-8 justify-center p-4 sm:flex-row">
            <a href="{% url 'recipes:recipe-list' %}"
                class="px-8 py-4 text-lg font-bold text-white rounded-lg shadow-lg transition-all duration-300 bg-accent-400 hover:scale-105 hover:bg-accent-600">
                Explore Recipes
            </a>
            <a href="{% url 'recipes:recipe-search' %}"
                class="px-8 py-4 text-lg font-bold text-white bg-transparent rounded-lg border border-white border-solid shadow-lg transition-all duration-300 hover:scale-105 hover:bg-accent-600 hover:border-accent-600">
                Search & Analyze
            </a>
        </div>
        {% else %}
        <a href="{% url 'login' %}"
            class="inline-block px-8 py-4 text-lg font-bold text-white rounded-lg shadow-lg transition-all duration-300 bg-accent-400 hover:bg-accent-50 hover:scale-105 hover:bg-accent-600">
            Login to Explore Recipes
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}